My workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "6ac32f22-458e-480a-82d3-048ab82648de",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "url": "https://api.github.com/repos/n8n-io/n8n/stargazers",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github.v3+json"
            },
            {
              "name": "Authorization",
              "value": "github_token_to _limitless_request"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        208,
        0
      ],
      "id": "490c988c-392a-4b92-8cba-14d284f7d070",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2d19279b-90d8-441b-8572-965cc03828d0",
              "name": "username",
              "value": "={{$json[\"login\"]}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        416,
        0
      ],
      "id": "e3c4ea40-3a9c-4b4c-8372-8f29523e0c0e",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "url": "=https://api.github.com/users/{{$json[\"username\"]}}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "githubApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {}
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        624,
        0
      ],
      "id": "12e8ea55-d1cf-4762-8129-c05a6a0eadc7",
      "name": "HTTP Request1",
      "credentials": {
        "githubApi": {
          "id": "CYlGV0PdwsnkMazJ",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "9ff873a8-87da-4f1b-9302-7ace4bae760f",
              "leftValue": "={{$json[\"followers\"]}}",
              "rightValue": 100,
              "operator": {
                "type": "number",
                "operation": "lt"
              }
            },
            {
              "id": "7fb62555-96fa-4665-acbb-f48ea0354af2",
              "leftValue": "={{$json[\"public_repos\"]}}",
              "rightValue": 50,
              "operator": {
                "type": "number",
                "operation": "lt"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        832,
        0
      ],
      "id": "1f46d2bb-9d29-4fb1-b5f0-69cddbbcf857",
      "name": "If"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://discordapp.com/api/webhooks",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"content\": \"🔥 High Value Lead!\\n\\n👤 Name: {{$json.Name}}\\n📍 Company: {{$json.Company}}\\n🧠 Bio: {{$json.Bio}}\\n\\n💡 Pitch: {{$json.pitch}}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1312,
        -16
      ],
      "id": "9284a400-f6c9-4b6a-8a85-7130d05c7f0a",
      "name": "HTTP Request2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3bf5291b-8c27-4461-822f-cd5e2e4e3326",
              "name": "pitch",
              "value": "This developer is a high-value lead with strong experience and is worth reaching out for collaboration.",
              "type": "string"
            },
            {
              "id": "d995f4e3-dbc4-425e-8d3a-3fd4df6021dd",
              "name": "Name",
              "value": "={{$json.name}}",
              "type": "string"
            },
            {
              "id": "08185110-56ce-4466-9580-bd187c52f21e",
              "name": "Company",
              "value": "={{ $json.company }}",
              "type": "string"
            },
            {
              "id": "b4035b62-200a-4f8e-bb50-09aa1d101cef",
              "name": "Bio",
              "value": "={{ $json.bio }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1040,
        -16
      ],
      "id": "95737507-f569-4c4b-8881-9488b379cae8",
      "name": "Edit Fields1"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "bd6876a5-3fee-40cd-8d33-5e6742bf2669",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "fa91c845ca1700ba4326ede3685fda608cce2c14fb34cec31dbb6b375a8c5acd"
  },
  "id": "o0wPupynLHzkmvjv",
  "tags": []
}